body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-image: linear-gradient(90deg, #1b1b1ead, #352b38ce, #17181Bad), url(../Survey/images/opjse_black_background_sparks_glow_pink_yellow_scattered_symmet_a30bd615-5e59-4a21-8221-52c909eb7e73.png);
    background-size: cover;
    background-position: center;
    color: #F2C335;
    font-family: Tahoma;
    font-size: 16px;
}

.container {
    width: 70vw;
    height: auto;
    max-width: 600px;
    min-width: 400px;
    margin: 1rem auto;
    padding: 0.1rem 2rem;
    background-color: #352b38ce;
    border-radius: 15px;
    /* box-shadow: 0 0 10px 1px #f2c3357a, inset 0 0 10px 1px #f2c3357a; */
}

h1, p {
    margin: 1em auto;
    text-align: center;
    color: #999999;
}

h1 {
    color: #f8f8f8;
    margin-bottom: 0;
}

form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto 2cm auto;
    padding: 0 2em;
    padding-bottom: 2em;
    background-color: #352b38ce;
    border-radius: 15px;
    border: solid #ffffff83 1px;
    box-shadow: 0 0 10px 1px #f2c3357a, inset 0 0 10px 1px #f2c3357a;
}

fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid #3b3b4f;
}

fieldset:last-of-type {
    border-bottom: none;
}

label {
    display: block;
    margin: 0.5rem 0;
}

input, textarea, select {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
}

input, textarea {
    background-color: #0B0B0D;
    border: solid #0a0a23;

    color: #ffffff;
}

.inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}

input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #3b3b4f;
    border-color: white;
    min-width: 300px;
}

input[type="file"] {
    padding: 1px 2px;
}

a {
    color: #dfdfe2;
}